.container{
    margin: 0 auto;
    max-width: 1338px;
    width: 100%;
    padding: 0 16px;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #C4C4C4;
    padding-top: 31px;
}

.brand-black{
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.brand-gray{
    font-weight: 400;
    font-size: 36px;
    color: #8F95A5;
}

.footer-links{
    margin-bottom: 53px;
}

.footer-link{
    font-weight: 400;
    font-size: 24px;
    color: #8F95A5;
    text-decoration: none;
}