<header class="header">
    <img class="header__icon" src="../images/header_images/Britlex.svg" alt="">
    <nav class="header__navigation">
        <div>
            <ul class="header__list">
                <li>Home</li>
                <li>Skills</li>
                <li>About Us</li>
                <li>Pricing</li>
                <li>Contacts</li>
            </ul>
        </div>
    </nav>
    <div class="header__right">
        <div>
            <button class="header__button">Let’s Talk</button>
        </div>
        <div class="header__burgermenu">
            <input id="toggle" class="header__menu" type="checkbox">
            <label for="toggle" class="header__toggle"></label>
        </div>
    </div>
</header>