<div class="container-about">
  <section class="section-3-about">
    <div class="section-about-left">
      <h2 class="section-3-title">
        About Us
      </h2>
      <p class="section-3-text">
        The model offers a framework for discussing problems related to the user's experience, as well as possible ways
        and means of solving them. Application development begins at the top level (strategy), where the future software
        product is described quite abstractly from the point of view of the expectations of both users and the customer.
      </p>
      <div class="section-3-stats">
        <div class="section-3-stat__item">
          <h2 class="section-3-stat__title">800</h2>
          <p class="section-3-stat__p">Pupils</p>
        </div>
        <div class="section-3-stat__item">
          <h2 class="section-3-stat__title">18</h2>
          <p class="section-3-stat__p">Teachers</p>
        </div>
        <div class="section-3-stat__item">
          <h2 class="section-3-stat__title">6</h2>
          <p class="section-3-stat__p">Foreign languages</p>
        </div>
      </div>
    </div>
    <div class="section-3-stat__img">
      <img src="../images/section3_images/img/Business competition-bro 1.png" alt="$">
    </div>
  </section>
</div>