<section class="skills">
  <h1 class="skills__maintitle">Skills</h1>
  <div class="skills__container">

    <div class="skills__speaking">
      <img class="skills__speaking__image" src="../images/section2_images/Shared goals-bro 1.png" alt="" />
      <h2 class="skills__title">Speaking</h2>
      <p class="skills__text">
        Improve your English skills and confidence. Live classes and interactive
        lessons online. 20% extra free for a limited time only
        <span class="skills__span">
          0000000 000000 000 0000000 0000 000000
        </span>
        Learn English online and improve your skills through our high-quality
        courses and resources – all designed for adult language learners.
      </p>
      <button class="skills__button">Learn more</button>
    </div>

    <div class="skills__second">
      <div class="skills__random">
        <div class="skills__writing">
        <img style="width: 293px; height: 293px" class="skills__image"
          src="../images/section2_images/Typewriter-bro 1.png" alt="" />
        <h2 class="skills__title">Writing</h2>
        <p class="skills__text">
          One of the most important and extensive areas of natural science, the
          science that studies substances, also their composition
        </p>
        <button class="skills__button">Learn more</button>
      </div>
      <div class="skills__reading">
        <img class="skills__image" src="../images/section2_images/House bookshelves-bro 1.png" alt="" />
        <h2 class="skills__title">Reading</h2>
        <p class="skills__text">
          perception and response actions of the user resulting from the use
          and/or upcoming use of the product, system or service
        </p>
        <button class="skills__button">Learn more</button>
      </div>
      </div>
      <div class="skills__listening">
        <div>
          <h2 class="skills__title">Listening</h2>
          <p class="skills__text">
            Here you can find activities to practise your listening skills.
            Listening will help you to improve your understanding
          </p>
          <button class="skills__button">Learn more</button>
        </div>
        <div>
          <img class="skills__image" src="../images/section2_images/Podcast audience-bro 1.png" alt="" />
        </div>
      </div>
    </div>

  </div>
</section>