<section class="language">
    <div class="language__container">
        <div class="language__first">
            <h1 class="language__title">Learn Any Foreign Language</h1>
            <p class="language__text">With our teachers who write a program for
                each student, you will be able to make your
                first sketch after the first lesson.</p>
            <img class="language__lamp" src="../images/section1_images/light-bulb-svgrepo-com 1 (1).svg" alt="">
            <button class="language__button">Get started</button>
        </div>
        <div class="language__second">
            <img src="../images/section1_images/Learning languages-bro 1 (1).png" alt="">
        </div>
    </div>
</section>