<div class="container-contact">
    <section class="section-5-contact">
        <div class="contact-image">
            <img class="contact-image-left" src="../images/section3_images/img/contact us.png" alt="newsletter-guy">
        </div>
        <div class="contact-content">
            <h2 class="contact-title">
                Contact Us
            </h2>
            <p class="contact-text">
                Discover your current English level by taking our free online English test.Sign up to our newsletter
                for learning tips and free resources
            </p>
            <form action="" class="contact__email-form">
                <input name="email" type="email" placeholder="Enter Your E-mail" class="contact-email" required>
                <button class="btn btn-primary">Subscribe</button>
            </form>
        </div>
    </section>
</div>