<div class="container-about">
    <section class="section-4-pricing">
            <h2 class="section-4-title">
                Pricing
            </h2>
            <div class="cards">
                <div class="card">
                    <img class="card-img-top" src="../images/section3_images/img/Online test-bro 1.png">
                    <div class="card-body">
                        <h3 class="card-title">
                            Self-study online course
                        </h3>
                        <p class="card-text">
                            Start learning English online in live classes
                            with qualified EC teachers and students
                            from all over the world.
                        </p>
                        <div class="card-price">
                            <span class="card-price__amount">£5.99</span>
                            <span class="card-price__text">per month</span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="../images/section3_images/img/Lesson-bro 1.png" alt="live online classes">
                    <div class="card-body">
                        <h3 class="card-title">
                            Live online classes
                        </h3>
                        <p class="card-text">
                            Interactive group classes with expert teachers. Free 7-day trial
                        </p>
                        <div class="card-price">
                            <span class="card-price__amount">£12.99</span>
                            <span class="card-price__text">per month</span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="../images/section3_images/img/Webinar-bro 2.png" alt="Personal Tuition">
                    <div class="card-body">
                        <h3 class="card-title">
                            Personal Tuition
                        </h3>
                        <p class="card-text">
                            Online one-to-one English tutoring – enjoy our first session for only $1
                        </p>
                        <div class="card-price">
                            <span class="card-price__amount">£20.99</span>
                            <span class="card-price__text">per month</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
</div>